<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//code.angularjs.org/snapshot/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
<link rel="stylesheet" href="style.css">

<script src="script.js" type="text/javascript"></script>


<body ng-app="qgApp">

    <div class="quote" ng-controller="quotation">
        <h1 class="title t1">Quotation Sheet</h1>

        <form ng-submit="addData()">
            <div class="inp">
                Name
                <input type="text" ng-model="name">
            </div>
            <div class="inp">

                Quantity
            </div>
            <div class="inp">
                <input type="text" ng-model="quantity">
            </div>
            <div class="inp">
                Rate
                <input type="text" ng-model="rate">
            </div>
            <div class="inp">


                <button type="submit">ADD</button>
            </div>

        </form>


        <ul>
            <li class="lis l">
                <div class="header">
                    <h2 class="val">Name</h2>
                    <h2 class="val">Quantity</h2>
                    <h2 class="val">Rate</h2>
                    <h2 class="val">Amount </h2>

                </div>
            </li>
        </ul>

        <div class="scroll">
            <ul>
                <li ng-repeat="q in quot" class="lis">
                    <div class="header">

                        <h2 class="val">{{q.name}}</h2>
                        <h2 class="val">{{q.quantity}}</h2>
                        <h2 class="val">{{q.rate}}</h2>
                        <h2 class="val">{{q.quantity * q.rate}}</h2>
                    </div>
                </li>
            </ul>
        </div>


        <ul>
            <li class="lis l">
                <div class="header total">
                    <h2>Total--</h2>
                    <h2> {{tot}}</h2>

                </div>

            </li>
        </ul>

        <button class="btn" ng-click="makePdf()">
            MakePdf
        </button>
    </div>
</body>

</html>